<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/statistics.css') }}" />
</head>
<body>
    <!-- navbar -->
    <div class="topnav" id="myTopnav">
        <a href="/home?name={{curr_personnage}}" style="float:left">Crops Calendar</a>
        <a href="{{ path('buy') }}" style="float:left">Buy Crops</a>
        <a href="#" style="float:left">Statistics</a>
        <a href="{{ path('personnage') }}" style="float:left">Personnages</a>
        <a href="{{ path('logout') }}" style="float:right">Logout</a>
    </div>

    <!-- statistics -->
    <div class='main-body'>
        <div class="form-title-row">
            <h1>Statistics</h1>
        </div>

        <div class='label'>Total Number of Personnages:</div>
        {{numPersonnages}}

        <br>

        <div class='label'>Total Number of Users: </div>
        {{numUsers}}

        <br>

        <div class='label'>User with the most money:</div>
        {{rich_user}}
        <div class='label'>whose personnage </div>
        {{personnage}}
        <div class='label'> has </div>
        {{money}}
        <div class='label'> euros </div>
    </div>

    <footer>
        You are logged in as: {{username}}<br>
        Your personnage is: {{curr_personnage}}
    </footer>
</body>
</html>
