{# app/Resources/views/personnage/personnage.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/home.css') }}" />
</head>
<body>
    <div class="topnav" id="myTopnav">
        <a href="#" style="float:left">Crops Calendar</a>
        <a href="{{ path('buy') }}" style="float:left">Buy Crops</a>
        <a href="/statistics?name={{personnage}}" style="float:left">Statistics</a>
        <a href="{{ path('personnage') }}" style="float:left">Personnages</a>
        <a href="{{ path('logout') }}" style="float:right">Logout</a>
    </div>

    <!-- <p>You are logged in as: {{username}}</p> -->

    <div class="main-wrapper">
        <h4>Ready to Harvest</h4>
        <h5> In your bank: 0 euro(s)</h5>
        <div class="list-wrapper">
            {% for crop in crops %}
                {% if crop.now > crop.harvestDate %}
                    <div class="row">
                        <div class="col-xs-6" style="text-align:right;">
                            <form class="form-basic" action="/home/harvest?name={{personnage}}&cropid={{crop.id}}" method="post">
                                <button class="asText" type="submit">Harvest</button>
                            </form>
                        </div>
                        <div class="col-xs-6">
                            <ul>{{crop.type}}</ul>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <h4>Growing Crops</h4>
        <div class="list-wrapper">
            <div class="row">
                <div class="col-xs-6">
                    <ul><b>Type</b></ul>
                </div>
                <div class="col-xs-6">
                    <ul><b>Time Left Until Harvest</b></ul>
                </div>
            </div>
            {% for crop in crops %}
                {% if crop.now < crop.harvestDate %}
                    <div class="row">
                        <div class="col-xs-6">
                            <ul>{{crop.type}}</ul>
                        </div>
                        <div class="col-xs-6">
                            <ul>{{crop.timeLeft|date("%h hours, %i minutes, %s seconds ")}}</ul>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <footer>
        You are logged in as: {{username}}<br>
        Your personnage is: {{personnage}}
    </footer>
</body>
</html>