<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/buy.css') }}" />
</head>
<body>
    <div class="topnav" id="myTopnav">
        <a href="/home?name={{personnage}}" style="float:left">Crops Calendar</a>
        <a href="{{ path('buy') }}" style="float:left">Buy Crops</a>
        <a href="/statistics?name={{personnage}}" style="float:left">Statistics</a>
        <a href="{{ path('personnage') }}" style="float:left">Personnages</a>
        <a href="{{ path('logout') }}" style="float:right">Logout</a>
    </div>

    <div class="form-basic">
        <div class="form-title-row">
            <h1>Buy Crops</h1>
        </div>
        <div id="first">
            <form class="form-row" action=" {{ path('wheat') }} " method="post">
                <p id="title">Wheat</p>
                <img src="crops/wheat.jpg" width=90 height=60>

                <p>Price: 1 euro</p>
                <p>Time to harvest: 1 minute</p>
                <p>Sells for: 2 euros</p>
                <button class="asText" type="submit">Buy Wheat</button>
            </form>
        </div>
        <div id="second">
            <form class="form-row" action=" {{ path('corn') }} " method="post">
                
                <p id="title">Corn</p>
                <img src="crops/corn.jpg" width=90 height=60>
                <p>Price: 5 euros</p>
                <p>Time to harvest: 5 minutes</p>
                <p>Sells for: 8 euros</p>
                <button class="asText" type="submit">Buy Corn</button>
            </form>
        </div>
        <div id="third">
            <form class="form-row" action=" {{ path('carrots') }} " method="post">
                
                <p id="title">Carrots</p>
                <img src="crops/carrot.jpg" width=90 height=60>
                <p>Price: 10 euros</p>
                <p>Time to harvest: 30 minutes</p>
                <p>Sells for: 15 euros</p>
                <button class="asText" type="submit">Buy Carrots</button>
            </form>
        </div>
        <div id="fourth">
            <form class="form-row" action=" {{ path('strawberries') }} " method="post">
                
                <p id="title">Strawberries</p>
                <img src="crops/strawberry.jpg" width=90 height=60>
                <p>Price: 50 euros</p>
                <p>Time to harvest: 1 hour</p>
                <p>Sells for: 75 euros</p>
                <button class="asText" type="submit">Buy Strawberries</button>
            </form>
        </div>
        <div id="fifth">
            <form class="form-row" action=" {{ path('watermelon') }} " method="post">
                
                <p id="title">Watermelon</p>
                <img src="crops/watermelon.jpg" width=90 height=60>
                <p>Price: 100 euros</p>
                <p>Time to harvest: 3 hours</p>
                <p>Sells for: 150 euros</p>
                <button class="asText" type="submit">Buy Watermelon</button>
            </form>
        </div>
        <div id="clear"></div>
    </div>
    
</body>
</html>