{# app/Resources/views/registration/register.html.twig #}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/register.css') }}" />
</head>
<body>
	<div class="form-basic">
	<div class="form-title-row">
        <h1>Register</h1>
     </div>
	{{ form_start(form) }}
	<div class="form-row">
	    {{ form_row(form.username) }}
	</div>
	<div class="form-row">
	    {{ form_row(form.email) }}
	</div>
	<div class="form-row">
	    {{ form_row(form.plainPassword.first) }}
	</div>
	<div class="form-row">
	    {{ form_row(form.plainPassword.second) }}
	</div>
	    <button class="register" type="submit">Register</button>
	{{ form_end(form) }}
	</div>
</body>
</html>